p,label,div{
    font-family: 'Muli', serif;
}
h1,h2,h3,h4,h5,h6,a {
    font-family: 'Solway', serif;
}
.page-content {
    width: 600px;
    height: 881px;
    -webkit-transform: scale(.25);
    -ms-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    margin: 0 0 -650px 0;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
}
.add-btn-container {
    height: 220px;
    width: 150px;
    border: 1px solid lightgrey;
    line-height: 220px;
    text-align: center;
    font-weight: 600;
}
.view-link{
    text-decoration: none;
    color: black;
}
.view-link:hover{
    text-decoration: none;
}
.document-container{
    min-height: 200px;
    border: 1px solid lightgrey;
}
.add-btn{
    font-size: 25px;
    color: grey;
}
.add-btn:hover{
    color: black;
}
.view-btn{
    background-color: white;
}
a{
    text-decoration: none;
}
.form-row .form-control {
    max-width: none;
}
.submit-btn{
    margin:15px 0px 0px 0px;
}
.page-edit-icon{
    position: absolute;
    margin-left: 90px;
    margin-top: 10px;
    color: #2196f3;
}
.page-delete-icon{
    position: absolute;
    margin-left: 125px;
    margin-top: 10px;
    color: #e53935;
}
.view-btn:hover {
    background-color: #f5f5f5;
}
.page-icons-container {
    background-color: rgba(0,0,0,0.1);
    height: 35px;
    width: 150px;
    position: absolute;
    z-index: 10;
}
.date-text{
    background-color: lightgrey;
    height: 35px;
    width: 150px;
    position: absolute;
    margin-top: -45px;
    margin-left: 10px;
    text-align: center;
    line-height: 35px;
}
.date-text p{
    color:grey;
    
    /* font-style: italic; */
}
.navbar {
    background-color: white !important;
    border: none !important;
}
.navbar-brand {
    color: #5f6368 !important;
}
form {
    background-color: #f1f3f4;
}
.page-title-text{
    margin-left: 2px;
    margin-bottom: 20px;
}
.page-title-text p{
    margin: 0px;
    font-size: 12px;  
    overflow:hidden;
    white-space:wrap;
    text-overflow: ellipsis; 
}
.page-title{
    font-weight: bold;
}
.page-date-created{
    font-style: italic;
}
.search-container{
    margin-top: 10px;
    margin-bottom: 10px;
}
.search-btn{
    margin-top: 13px;
    background-color: white;
    border: 1px solid lightgrey;
    color: grey;
    font-weight: 600;
}
.form-control, .search-btn {
    border-radius: initial;
}
.page-content h1 {
    overflow:hidden;
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.document-viewer{
    background-color: white;
    width: 70%;
    padding:0;
    margin-top: 30px;
    box-shadow: 1px 0px 5px 0px lightgrey;
}
.document-header{
    background-color: whitesmoke;
    padding: 15px;
}
.document-header h2{
    margin:0;
}
.document-view-container{
    padding: 15px;
}
.search-container div,.body-content .container {
    padding-left: 0;
}
.no-data-found{
    line-height: 225px;
}